https://localhost:8443 {
    tls internal
    request_body {
        max_size 52MB
    }
    header {
        X-Content-Type-Options nosniff
        Referrer-Policy same-origin
        X-Frame-Options DENY
    }
    @backend path /api/* /admin /admin/*
    handle @backend {
        reverse_proxy api:8000
    }
    handle_path /static/* {
        root * /data/static
        file_server
    }
    handle {
        root * /srv
        try_files {path} /index.html
        file_server
    }
}
